version: '3.8'

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    image: louisprev/cocorico-api:latest
    ports:
      - "8080:8080"
    depends_on:
      - db
      - maildev
    networks:
      - cocorico-network
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: louisprev/cocorico-client:latest
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - cocorico-network
  db:
    image: mongo:latest
    volumes:
      - cocorico_db:/data/db
    ports:
      - "27017:27017"
    networks:
      - cocorico-network
  maildev:
    image: maildev/maildev
    ports:
      - "1080:80"
      - "1025:25"
    networks:
      - cocorico-network

volumes:
  cocorico_db:

networks:
  cocorico-network: