html
  body
    h1 Bienvenue sur Cocorico !
    p Cher #{username},
    p Merci d'avoir rejoint notre passionnante aventure e-commerce. Nous sommes ravis de vous avoir parmi notre communauté.
    p Commencez à explorer notre large gamme de produits fabriqués en France et profitez d'une expérience de shopping inédite.
    p Cordialement,
    p L'équipe E-Commerce Cocorico