name: Cocorico CI/CD

on:
  push:
    branches:
      - master

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install Dependencies for API
        working-directory: ./api
        run: npm ci

      - name: Install Dependencies for Client
        working-directory: ./client
        run: npm ci

      - name: Run Prettier on API
        working-directory: ./api
        run: npx prettier --check .

      - name: Run Prettier on Client
        working-directory: ./client
        run: npx prettier --check .

  build-and-push:
      runs-on: ubuntu-latest
      needs: prettier

      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Install Docker & Docker Compose
          run: |
            curl -fsSL https://get.docker.com -o get-docker.sh
            sudo sh get-docker.sh
            docker --version
            docker compose version

        - name: Login to Docker Hub
          run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

        - name: Build images with Docker Compose
          run: |
            export DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            docker compose build

        - name: Push images
          run: |
            export DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            docker compose push